.container {
	width: 800px;
}
.voice-search-input {
	margin-bottom: 1rem;
}
.voice-search-options {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
.voice-search-options label {
	min-width: 10rem;
	cursor: pointer;
	user-select: none; /* prevent double click highlight */
}
.search-result {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
audio {
	display: block;
	width: 4rem;
	margin-left: 0.3rem;
}
